poc-translate/src/main/mule/poc-translate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7068b8d5-eb38-45b4-b053-20645439dd9f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c04c957f-1475-4540-bc85-0d3ba9869c51" />
	<flow name="poc-translateFlow" doc:id="fc3b5170-00d4-4db7-855f-4bf968967141" >
		<http:listener doc:name="Listener" doc:id="389d65e3-c40f-4b64-b400-346e8952a415" config-ref="HTTP_Listener_config" path="/slack" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="cd0facf1-9d3f-40af-ace3-ce94378606cb" message="#[payload.text]"/>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload.text]" doc:name="textToTranslate" doc:id="e4a51cf7-6afb-4358-9c4f-b32e66f0d490" variableName="textToTranslate"/>
		<http:request method="POST" doc:name="Request" doc:id="2b29b9b8-229f-4e61-89e3-14212519317b" url="https://api.cognitive.microsoft.com/sts/v1.0/issuetoken" config-ref="HTTP_Request_configuration">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Ocp-Apim-Subscription-Key" : ""
}]]]></http:headers>
		</http:request>
		<set-variable value="#[payload]" doc:name="token" doc:id="13a3474f-67f8-4f5b-8270-e5096a649e57" variableName="token"/>
		<logger level="INFO" doc:name="Logger" doc:id="7e89f2f3-39b8-4357-8fc1-3cccab94b772" message="#[vars.token]"/>
		<http:request method="GET" doc:name="Request" doc:id="a14f9174-cfd9-4f5c-bfc8-509e9dc3f3d2" url="https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&amp;from=pt&amp;to=en" config-ref="HTTP_Request_configuration">
			<http:body ><![CDATA[#[%dw 2.0
output application/json
---
[{
	"Text": vars.textToTranslate
}]]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer" ++ vars.token,
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="1bf3dc4b-534a-40f9-a489-b1cff6a70346" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
payload.translations[0].text[0]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="44170ea3-67b2-4173-ad04-d44dd175e609" message="#[payload]"/>
	</flow>
</mule>
